@font-face {
  font-family: Hanken;
  src: url(/assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Hanken;
}

.container {
  position: absolute;
  width: 900px;
  height: 600px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 30px;
  box-shadow: 20px 20px 40px rgba(100, 100, 100, 0.2);
  display: grid;
  grid-template-columns: 450px 450px;
  grid-template-rows: 600px;
}

.highlighter,
.delighter {
  width: 450px;
  height: 100%;
  border-radius: 30px;
  display: grid;
}

.highlighter {
  grid-template-columns: 20% 60% 20%;
  grid-template-rows: 20% 15% 15% 15% 15% 20%;
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  align-items: center;
  justify-content: center;
  background: rgb(49, 43, 229);
  background: linear-gradient(
    0deg,
    rgba(49, 43, 229, 1) 0%,
    rgba(101, 68, 243, 1) 100%
  );
}

.delighter {
  grid-template-columns: 10% 80% 10%;
  grid-template-rows:
    20% calc(15% - 25px) calc(15% - 25px) calc(15% - 25px) calc(15% - 25px)
    20%;
  grid-column: 2/3;
  grid-row: 1/2;
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.your-result {
  grid-column: 2/3;
  grid-row: 1/2;
}

.your-result p {
  font-size: 2rem;
  font-weight: bold;
  color: hsla(249, 100%, 88%, 0.5);
  text-align: center;
}

.circle {
  grid-column: 2/3;
  grid-row: 2/5;
  width: 80%;
  height: 80%;
  margin: 0 auto;
  border-radius: 100%;
  background: rgb(49, 43, 229);
  background: linear-gradient(
    0deg,
    rgba(49, 43, 229, 0.001) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circle p:nth-child(1) {
  font-size: 5rem;
  color: white;
}
.circle p:nth-child(2) {
  font-size: 1.5rem;
  color: grey;
}

.great {
  grid-column: 2/3;
  grid-row: 5/6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.great p {
  color: white;
  font-size: 3rem;
}

.great p:nth-child(1) {
  margin-top: 90px;
  margin-bottom: 20px;
}

.great p:nth-child(2) {
  color: hsla(249, 100%, 88%, 0.5);
  font-size: 1.5rem;
  text-align: center;
}

.summary {
  grid-column: 2/3;
  grid-row: 1/2;
}

.summary p {
  font-size: 2rem;
  font-weight: bold;
  color: #2f374b;
}

.s-box {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1.5fr 4fr 2.3fr;
  grid-template-rows: 1fr;
  font-size: 1.5rem;
  font-weight: bold;
  align-items: center;
}

.s-box img {
  margin: 0 auto;
}

.reaction {
  background-color: #fff6f5;
  grid-area: 2/2/3/3;
}

.reaction p:nth-child(2) {
  color: hsl(0, 100%, 67%);
}

.reaction p:nth-child(3) {
  color: #a09ca9;
}

.reaction span {
  color: #3b4355;
}

.memory {
  background-color: #fffbf2;
  grid-area: 3/2/4/3;
}

.memory p:nth-child(2) {
  color: hsl(39, 100%, 56%);
}

.memory p:nth-child(3) {
  color: #a09ca9;
}

.memory span {
  color: #3b4355;
}

.verbal {
  background-color: #f2fbfa;
  grid-area: 4/2/5/3;
}

.verbal p:nth-child(2) {
  color: hsl(166, 100%, 37%);
}

.verbal p:nth-child(3) {
  color: #a09ca9;
}

.verbal span {
  color: #3b4355;
}

.visual {
  background-color: #f3f3fd;
  grid-area: 5/2/6/3;
}

.visual p:nth-child(2) {
  color: hsl(234, 85%, 45%);
}

.visual p:nth-child(3) {
  color: #a09ca9;
}

.visual span {
  color: #3b4355;
}

button {
  grid-area: 6/2/7/3;
  width: 100%;
  height: 50%;
  border-radius: 30px;
  border: none;
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
  background-color: hsl(224, 30%, 27%);
}

button:hover {
  background-color: #4936f2;
}

@media screen and (max-width: 375px) {
  .container {
    width: 100dvw;
    height: auto;
    position: relative;
    top: 425px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .highlighter {
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 20% 15% 15% 15% 15% 20%;
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100dvw;
  }
  .delighter {
    width: 100%;
    grid-column: 1/2;
    grid-row: 2/3;
    width: 100dvw;
  }

  .great p:nth-child(1) {
    font-size: 2rem;
  }
  .great p:nth-child(2) {
    margin-top: -20px;
    font-size: 1rem;
  }

  .s-box {
    font-size: 1.3rem;
    margin: 30px 0;
    padding-right: 10px;
  }

  .circle {
    width: 40dvw;
    height: 40dvw;
  }
}
